.item_data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.75rem;
  }
  .item {
    color: #696963;
    border-bottom: 1px solid #C4C4C0;
  }
  .item_amount, .item_timespan, .item_average {
    text-align: right;
  } 
  .item_type, .item_amount {
    color: #000000;
    font-weight: bold;
  }
  