@import '../../assets/styles/_config.scss';

.item_data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.75rem;
  }
  .item {
    color: $color-neutral-dark;
    border-bottom: 1px solid $color-neutral-light;
  }  
  .item_amount, .item_timespan, .item_average {
    text-align: right;
  } 
  .item_type, .item_amount {
    color: $color-neutral-darkest;
    font-weight: bold;
  }
  