@import '../../assets/styles/_config.scss';

.button {
    background-color: $color-neutral-light;
    color: $color-neutral-darkest;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 0.7em 1.5em;
    margin: 0.5em;
    border-radius: 0.2em;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
  }
  
  .button:hover {
    opacity: 1;
  }

  .button:disabled {
    background-color: $color-neutral-light;
    color: $color-neutral;
    box-shadow: none;
    opacity: 1;
  }
  .button_primary {
    background-color: $color-primary;
    color: $color-neutral-lightest;
  }
  .button_secondary {
    background-color: $color-secondary;
    color: $color-neutral-lightest;
  }