// Värimäärittelyt 
// generoitu sivustolla https://coolors.co/2d2d2a-696963-e1e1df-5f6b81-c14953 
$color-primary: #5F6B81;
$color-secondary: #C14953;
$color-neutral-darkest: #000000;
$color-neutral-darker: #2D2D2A;
$color-neutral-dark: #696963;
$color-neutral: #888881;
$color-neutral-light: #C4C4C0;
$color-neutral-lighter: #E1E1DF;
$color-neutral-lightest: #FFFFFF;
// Muut määrittelyt
$container-padding: 2rem;
