@import '../../assets/styles/_config.scss';
.settings {
    padding: $container-padding;
  }
  .settings h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
  }
  .settings_types {
    padding: 0.5rem;
    font-size: 1.1rem;
  }
  .settings_types > div {
    padding: 0.3rem;
    border-radius: 0.2rem;
  }
  .settings_types > div:nth-child(odd) {
    background-color: $color-neutral-lighter;
  }
  .settings_form {
    display: flex;
    margin-top: 0.5rem;
  }
  .settings_form input {
    flex: 1 1 auto;
    padding: 0.5rem;
    border: 1px solid $color-neutral;
    border-radius: 0.3rem;
    font-size: 1em;
    outline: none;
  }
        